.secao__infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
    height: 45%;
}

.container__pedidos {
    margin-top: 5%;
    margin-bottom: 10%;
}

.container__valores {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.container__texto {
    display: flex;
    align-items: center;
    height: 60%;
}

.sub__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num__pedidos {
    margin-top: 5%;
    font-size: 2.2rem;
    font-weight: 300;
}

.texto__info {
    font-size: 1.8rem;
    padding: 0 8vw;
}

.container__divisoria__linha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisoria__linha {
    height: 100%;
}

.container__valor__info {
    display: flex;
}

.valor__info {
    font-size: 1.75rem;
    color: white;
    font-weight: 300;
}
