.secao__timeline {
    margin-top: 10%;
}

.container__icone-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__descricao {
    display: flex;
    justify-content: space-between;
    font-size: 3.5vw;
    color: var(--cor-secundaria-fonte);
    margin: 0 5.5vw 3vw 17.5vw;
}

.card__timeline {
    display: flex;
    background-color: var(--cor-terciaria);
    margin: 0 2vw 5vw 2vw;
    padding: 2% 4%;
    border-radius: 16px;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.3);
    max-height: 6vh;
    overflow: hidden;
}

/* ADICIONAR QUANDO CLICADO NO CARD */
.card__expandido {
}

/* Animação de fade in para o botão delete */
.fadeIn {
    animation: fadeInAnimation 0.45s ease-in forwards;
    opacity: 0;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

/* Animação de slide in da direita para a esquerda */
.slideIn {
    animation: slideInAnimation 0.4s ease forwards;

    transform: translateX(100%);
}

@keyframes slideInAnimation {
    to {
        transform: translateX(0);
    }
}

.botoes__card {
    width: 8vw;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(312deg)
        brightness(109%) contrast(109%);
}

.icone__timeline {
    width: 9vw;
}

.card__titulo {
    font-size: 4.5vw;
    font-weight: 500;
    text-align: left;
    width: 45vw;
}

.container__preco-loja {
    text-align: right;
}

.card__preco {
    font-size: 4vw;
    font-weight: 500;
}

.card__loja-data {
    font-size: 0.75rem;
    color: var(--cor-secundaria-fonte);
    text-align: right;
}

.icone__mais {
    width: 12vw;
    opacity: 0.9;
}

.container__icone__mais {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.btn__icone__mais {
    background: transparent;
    border: none;
    padding: 0;
}

.container__card__icone {
    margin-right: 5%;
}
