.secao__timeline {
    margin-top: 8vh;
}

.card__timeline {
    display: flex;
    flex-direction: row;
    background-color: var(--cor-terciaria);
    margin: 5vw 2vw;
    padding: 2% 4%;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
}

.icone__timeline {
    width: 10vw;
}

.card__titulo {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.card__preco {
    font-size: 16px;
}

.card__loja-data {
    font-size: 12px;
    color: var(--cor-secundaria-fonte);
    text-align: end;
}
