.info__sales {
    margin-top: 6vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.container__texto__valor__sales {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
}

.container__texto__sales {
    margin-bottom: 1vh;
}

.container__valor__sales {
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 1vh;
}

.container__card__pedido {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    font-weight: 200;
}

.categoria__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.categoria__card__data {
    font-size: 0.8rem;
    padding-left: 3vw;
    padding-bottom: 0.35rem;
    color: #c2c2c2;
}

.categoria__card__status {
    font-size: 0.8rem;
    color: #c64a4a;
    font-weight: 400;
    padding-bottom: 0.35rem;
}

.card__background__superior {
    background-color: #5e5e5e;
    padding: 4vw;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.categoria__card__nome {
    font-size: 1.2rem;
    font-weight: 300;
}

.categoria__card__valor {
    font-size: 0.9rem;
    font-weight: 300;
}

.card__background__inferior {
    background-color: #232323;
    border-radius: 0 0 1rem 1rem;
    padding: 2.5vw 4vw 4vw 4vw;
    align-items: center;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.categoria__card__descricao {
    font-size: 1rem;
}

.categoria__card__icone {
    width: 8vw;
}
